<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="Day5.TestListeners" />
	</listeners>

	<test name="Test">
		<classes>
			<class name="testng_4.Ex_4" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
